# Core dependencies
numpy==1.21.4
pandas==1.5.3
streamlit==1.20.0

# Azure dependencies
azure-ai-formrecognizer==3.3.0
azure-core>=1.23.0,<2.0.0
azure-identity
msrest>=0.6.21

# PDF processing
openpyxl==3.1.5

# Other dependencies
protobuf==3.20.3
google-api-python-client
pyyaml
msal
requests
